.main {
  width: 1100px;
  margin: 0 auto;
}

textarea {
  display: block;
  width: 700px;
  border-radius: 10px;
  border: 2px solid #000;
  font-size: 18px;
  padding: 10px;
  margin-top: 80px;
}
textarea:focus{
  border:2px solid #4e85fd;
}